.login-container {
  background-color: #202630;
  height: 100vh;
}

.header-auth-h2 {
  letter-spacing: 2px;
  color: white;
}

.auth-form label {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1px;
}

.auth-form input, .auth-form input:active, .auth-form input:focus {
  background-color: transparent;
  border: none;
  padding: 0;
  border-bottom: 2px solid #909398;
  border-radius: 0;
  box-shadow: none;
  color: white;
}

.auth-form input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-style: italic;
}

.auth-form input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-style: italic;
}

.auth-form input::-ms-input-placeholder {
  /* Microsoft Edge */
  font-style: italic;
}

.auth-form button {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: white;
  background-color: rgba(6, 195, 131, 255);
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 10px;
  box-shadow: none;
  border: none;
}

.auth-form button:hover, .auth-form button:active, .auth-form button:focus {
  color: white;
  background-color: rgba(8, 102, 70, 255);
  box-shadow: none;
  border: none;
}

.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

.auth-form .su-span {
  color: #06c081;
  text-decoration: underline;
  font-weight: 500;
  letter-spacing: 1px;
}

.auth-error, .auth-error .form-text {
  color: #c8292a;
}

.auth-success {
  color: #06c081;
}

.auth-form .auth-success input {
  border-bottom-color: #06c081;
}

.auth-form .agree-text{
  font-size: 12px;
}